.faq {
  padding-top: 22px;
  padding-bottom: 30px;

  @include tablet {
    padding-top: 8px;
  }

  @include mobile {
    padding-top: 18px;
    padding-bottom: 0;
  }
}

.faq h2 {
  @include title-two;
  margin-bottom: 50px;

  @include tablet {
    margin-top: 0;
  }

  @include mobile {
    margin-top: 0;
    margin-bottom: 30px;
  }
}

.faq__list {
  max-width: 970px;
  margin-left: auto;
  margin-right: auto;

  @include tablet {
    width: 100%;
  }

  @include mobile {
    width: 100%;
  }
}
