.footer-nav {
  @include flex(row);
  align-items: flex-start;
  width: auto;
  max-width: 390px;

  @include tablet {
    max-width: 405px;
  }

  @include mobile {
    max-width: 460px;
  }
}

.footer-nav__list {
  @include reset-list;
  @include flex(row);
  justify-content: flex-start;

  &--for-customers {
    width: 205px;
    margin-right: 30px;

    @include tablet {
      margin-right: 50px;
    }
  }

  &--info {
    width: 150px;
    margin-left: auto;
  }

  @include mobile {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 18px;
  }
}

.footer-nav__item {
  width: 100%;
}

.footer-nav__link {
  display: block;
  padding: 11px 0;
  color: white;

  @include hover-effect($c_main);

  @include mobile {
    padding: 11px 0 10.5px;
  }
}
