.info-form h1 {
  @include title-two;
}

.info-form div {
  @include flex(row);
  width: 100%;

  @include mobile {
    max-width: 450px;
  }
}

.info-form input {
  flex-grow: 1;
  margin: 0;
  padding: 11px 0;
  font-size: 14px;
  background-color: transparent;
  border: 0 none;
}

.info-form input:active,
.info-form input:focus {
  outline: 0 none;
  background-color: transparent;
}

.info-form input[type="email"]::placeholder {
  font-size: 14px;
}

.info-form--on-dark-bg .info-form input {
  color: white;
}

.info-form--on-dark-bg div {
  border-bottom: 1px solid white;
}

.info-form--on-light-bg .info-form input {
  color: $c_text;
}

.info-form--on-light-bg div {
  border-bottom: 1px solid $c_text;
}
