.login {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.login--page {
  margin-top: 80px;
  margin-bottom: 80px;
}

.login__form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 165px 45px 55px;
  width: 430px;
  background-color: $c_light;

  @include bg-img;
  background-size: 430px 138px;
  background-image: url("../img/bg-login-form@1x.jpg");
  background-position: 50% 0;

  @include retina {
    background-image: url("../img/bg-login-form@2x.jpg");
  }

  @include mobile {
    width: 100%;
  }
}

.login__form h2 {
  @include title-two;
  margin-bottom: 25px;
}

.login__form button[ty-e="submit"] {
  margin-top: auto;
  margin-bottom: 0;
}

.login__forgot-password {
  display: block;
  margin-top: 7px;
  margin-bottom: 45px;
  text-align: right;
  font-size: 12px;
  color: $c_text-light;
}

.login__forgot-password:hover {
  color: $c_main;
}

.login__sign-up {
  display: block;
  margin-top: 14px;
  font-size: 14px;
  text-align: center;
  color: $c_text-light;
  letter-spacing: 0.2px;
}

.login__sign-up span {
  color: $c_text;
}

.login__sign-up:hover {
  @include hover-effect($c_main);
  color: $c_text-light;
  opacity: 0.8;
  transition: all 0.3 ease-in;
}

.login__sign-up:hover span {
  opacity: 1;
  color: $c_main;
}
