.page-footer {
  margin-top: auto;
  padding-top: 85px;
  padding-bottom: 75px;
  color: white;
  background-color: black;

  @include tablet {
    padding-top: 45px;
    padding-bottom: 40px;
  }

  @include mobile {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}

.page-footer__container {
  @include flex(row);
  justify-content: flex-start;
}

.page-footer__signup {
  width: 500px;
  margin-right: auto;
  margin-bottom: 30px;

  @include tablet {
    width: 560px;
    margin-bottom: 35px;
  }

  @include mobile {
    width: 100%;
    margin-bottom: 35px;
  }
}

.page-footer__nav {
  @include desktop-only {
    margin-left: 35px;
    margin-right: auto;
  }

  @media (min-width: 1023px) and (max-width: 1120px) {
    margin-left: 0;
    margin-right: 35px;
  }

  @include tablet {
    margin-left: 0;
    margin-right: 55px;
  }

  @include mobile {
    margin-left: 0;
  }
}

.page-footer__social {
  max-width: 140px;

  @include desktop-only {
    margin-left: 20px;
  }

  @include tablet {
    margin-left: 0;
  }

  @include mobile {
    width: 100%;
    max-width: none;
  }
}
