.page-header {
  background-color: white;
}

.page-header__top-wrapper{
  position: relative;

  @include desktop-only {
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 100vw;
      height: 3px;
      background-color: $c_line;
    }
  }
}

.page-header__top-container {
  @include flex(row);
  min-height: 115px;
  align-items: center;
  padding-top: 33px;
  padding-bottom: 40px;

  @include tablet {
    padding-top: 55px;
    padding-bottom: 50px;
  }

  @include mobile {
    min-height: 92px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.page-header__search {
  display: none;

  @include desktop-only {
    display: block;
    width: 400px;;
    max-width: 40%;
  }
}

.page-header__nav-toggle {
  padding: 0;
  border: 0 none;
  outline: 0 none;
  background-color: transparent;

  @include hover-opacity;
  cursor: pointer;

  @include desktop-only {
    display: none;
  }

  @include tablet {
    width: 25px;
    height: 25px;
  }
}

.page-header__nav-toggle-icon {
  @include tablet {
    width: 25px;
    height: 16px;
    stroke: $c_text;
  }

  @include mobile {
    width: 25px;
    height: 16px;
    stroke: $c_text;
  }
}

.page-header__logo {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;


  @include mobile {
    top: 20px;
  }
}

.page-header__logo-link {
  display: block;
}

.page-header__logo-link[href] {
  @include hover-opacity;
}

.page-header__logo-img {
  display: block;
  width: 66px;
  height: 66px;
  stroke: $c_main;
  fill: transparent;

  @include mobile {
    width: 52px;
    height: 52px;
  }
}

.page-header__user {
  @include desktop-only {
    max-width: 40%;
  }
}

.page-header__user-list {
  @include reset-list;
  @include flex(row);
  justify-content: flex-end;
}

.page-header__user-item {
  margin-left: 30px;

  &:first-child {
    margin-left: 0;
  }

  @include tablet {
    margin-left: 20px;
  }

  @include mobile {
    margin-left: 20px;
  }
}

.page-header__user-link {
  display: block;
  color: $c_text;

  @include hover-effect($c_main);

  @include tablet {
    @include hover-opacity;
  }

  @include mobile {
    @include hover-opacity;
  }
}

.page-header__user-link--login {
  @include tablet {
    display: none;
  }

  @include mobile {
    display: none;
  }
}

.page-header__user-link--cart span {
  @include tablet {
    display: none;
  }

  @include mobile {
    display: none;
  }
}

.page-header__user-link--cart {
  @include tablet {
    display: block;
    width: 18px;
    height: 16px;
  }

  @include mobile {
    display: block;
    width: 18px;
    height: 16px;
  }
}

.page-header__user-link-icon {
  display: none;

  @include tablet {
    display: block;
    width: 18px;
    height: 18px;
    fill: transparent;
    stroke: $c_text;
  }

  @include mobile {
    display: block;
    width: 20px;
    height: 18px;
    fill: transparent;
    stroke: $c_text;
  }
}

.page-header__nav {
  width: 100%;
}

.page-header--no-js,
.page-header--nav-open {
  @include tablet {
    background-color: $c_main;
  }

  @include mobile {
    background-color: $c_main;
  }
}

.page-header--nav-open .page-header__logo-img {
  @include tablet {
    stroke: white;
    fill: transparent;
  }

  @include mobile {
    stroke: white;
    fill: transparent;
  }
}

.page-header--no-js .page-header__nav-toggle {
  @include tablet {
    display: none;
  }

  @include mobile {
    display: none;
  }
}

.page-header--no-js .page-header__user {
  @include tablet {
    margin-left: auto;
  }

  @include mobile {
    margin-left: auto;
  }
}

.page-header--nav-closed .page-header__nav {
  @include tablet {
    display: none;
  }

  @include mobile {
    display: none;
  }
}

.page-header--no-js .page-header__nav,
.page-header--nav-open .page-header__nav {
  @include tablet {
    display: block;
  }

  @include mobile {
    display: block;
  }
}

.page-header--nav-open .page-header__nav-toggle-icon {
  stroke: white;
}

.page-header--nav-open .page-header__user-link-icon {
  stroke: white;
}
