.pagination {
  position: relative;
  z-index: 100;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  text-align: center;
}

.pagination__list {
  @include reset-list;
  @include flex(row);
  justify-content: center;
  align-items: center;
}

.pagination__item {
  min-width: 12px;
  margin: 0 6px;
  font-size: 17px;
  color: $c_text-light;
  outline: 0 none;
  cursor: pointer;

  @include mobile {
    margin: 0 9px;
  }
}

.pagination__item:not(.pagination__item--current) {
  @include hover-effect($c-main);
}

.pagination__item--current {
  color: $c_text;
}
