.pagination {
  position: relative;
  z-index: 100;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  text-align: center;
}

.pagination__list {
  @include reset-list;
  @include flex(row);
  justify-content: center;
  align-items: center;
}

.pagination__list li {
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  min-width: 12px;
  margin: 0 6px;
  font-size: 17px;
  color: $c_text-light;
  outline: 0 none;
  cursor: pointer;

  @include mobile {
    margin: 0 9px;
  }
}

.pagination__list-item {
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  min-width: 12px;
  margin: 0 6px;
  font-size: 17px;
  color: $c_text-light;
  outline: 0 none;
  cursor: pointer;

  @include mobile {
    margin: 0 9px;
  }
}

.pagination__list li.pagination__current-page {
  color: $c_text;
}

.pagination__list-item.pagination__current-page {
  color: $c_text;
}

.pagination__list li:not(.pagination__current-page):hover {
  color: $c_main;
}

.pagination__list-item:not(.pagination__current-page):hover {
  color: $c_main;
}
