.recommend {
  position: relative;
  padding-top: 13px;
  padding-bottom: 76px;
  text-align: center;
}

.recommend h2 {
  @include title-two;
  letter-spacing: normal;
}

.recommend h2 + a {
  @include link-subtitle;
  margin-bottom: 30px;
}
