.signup-form {

}

.signup-form__title {
  @include title-two;
  text-align: center;
}

.signup-form__caption {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0;
  padding: 0 55px;
  text-align: center;
  color: $c_text-light;
}
