.signup {
  padding-top: 5px;
}

.signup__title {
  width: 450px;
  margin: 0;

  @include title-two;
  text-align: left;
  letter-spacing: 0.8px;

  @include tablet {
    margin-bottom: 10px;
    text-align: left;
  }

  @include mobile {
    width: auto;
    text-align: left;
  }
}

.signup__caption {
  display: inline-block;
  vertical-align: middle;
  max-width: 450px;
  margin-top: -11px;
  margin-bottom: 35px;
  text-align: left;
  color: $c_text-light;

  @include tablet {
    width: 450px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 35px;
    text-align: left;
  }

  @include mobile {
    width: auto;
    margin-top: -8px;
    margin-bottom: 35px;
    padding: 0;
    font-size: 16px;
    text-align: left;
  }
}

.signup--main .signup__caption {
  width: 405px;
  padding: 0 25px;
  text-align: center;
  margin-top: -20px;
  margin-bottom: 25px;
}
