.slider {
  --margin: 30px;
  --item_dt: 30px;
  --item_tab: 324px;

  position: relative;
  display: block;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.slider__wrapper {
  overflow: hidden;
}

.slider__slides {
  display: flex;
  flex-wrap: nowrap;
  height: max-content;
  width: auto;
  max-width: 100%;
  transition: all 0.5s ease-in-out;
}

.slider__card {
  display: inline-block;
  vertical-align: top;
  min-width: calc((100% - (3 * var(--margin))) / 4);
  max-width: calc((100% - (3 * var(--margin))) / 4);
  width: auto;
  height: max-content;
  margin-right: 0;

  @include tablet {
    min-width: calc(50% - (var(--margin) / 2));
    max-width: 45%;
    width: 40%;
    margin: 0;
  }

  @include mobile {
    max-width: calc(50% - (var(--margin) / 2));
    min-width: calc(50% - (var(--margin) / 2));
    width: calc(50% - (var(--margin) / 2));
  }
}

.slider__btns-wrapper {
  position: absolute;
  z-index: 100;
  top: -110px;
  left: 0;

  @include flex(row);
  width: 100%;

  @include mobile {
    display: none;
  }
}

.slider__btn {
  width: 30px;
  height: 10px;
  background-color: transparent;
  border: 0 none;

  @include bg-img;
  @include hover-opacity;

  @include tablet {
    width: 36px;
    height: 16px;
  }
}

.slider__btn--previous {
  position: relative;
  left: -20px;
  background-image: url("../img/icon-arrow-left.svg");

  @include tablet {
    left: 0;
  }
}

.slider__btn--next {
  background-image: url("../img/icon-arrow-right.svg");
}

.slider__pagination {
  margin-top: 36px;
  margin-bottom: 30px;

  @include tablet {
    margin-top: 28px;
    margin-bottom: 30px;
  }

  @include mobile {
    margin-top: -15px;
    margin-bottom: 15px;
  }
}
