.social__list {
  @include reset-list;

  @include mobile {
    @include flex(row);
    justify-content: flex-start;
    align-items: bottom;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.social__link {
  display: block;
  padding: 10px 0;
  color: white;

  @include hover-effect($c_main);

  @include mobile {
    margin-right: 26px;
    padding: 0;
  }
}

.social__icon-wrapper {
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  margin-right: 10px;
  text-align: center;

  @include mobile {
    vertical-align: bottom;
    width: max-content;
    margin-right: 0;
    text-align: left;
  }
}

.social svg {
  fill: white;
  max-width: 15px;
  height: 15px;

  @include mobile {
    max-width: none;
    width: 20px;
    height: 20px;
  }
}

.social__link span {
  @include mobile {
    display: none;
  }
}

.social__link:hover svg {
  fill: $c_main;
}
