.title-cover {
  min-height: 260px;
  padding-top: 60px;
  padding-bottom: 50px;
  background-color: $c_main;

  @include mobile {
    padding-top: 50px;
  }
}

.title-cover--main {
  padding-top: 150px;
  min-height: 463px;

  @include bg-img;
  background-image: url("../img/bg-title-cover-index@1x.jpg");

  @include retina {
    background-image: url("../img/bg-title-cover-index@2x.jpg");
  }

  @include mobile {
    padding-top: 165px;
  }
}

.title-cover--catalog {
  @include bg-img;
  background-image: url("../img/bg-title-cover-catalog@1x.jpg");

  @include retina {
    background-image: url("../img/bg-title-cover-catalog@2x.jpg");
  }
}

.title-cover--shadow {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  @include tablet {
    box-shadow: none;
  }

  @include mobile {
    box-shadow: none;
  }
}

.title-cover h2 {
  margin-bottom: -15px;

  @include title-two;
  letter-spacing: normal;
  color: white;
}

.title-cover--index h2 {
  margin-bottom: -5px;

  @include title-one;
  color: white;
}

.title-cover p {
  margin-top: -15px;

  @include font-two(22px, 1.3);
  color: white;
  text-align: center;

  @include mobile {
    margin-top: -18px;
    font-size: 22px;
  }
}

.title-cover--main p {
  margin-top: 0;

  @include font-two(38px, 1.3);
  color: white;
  text-align: center;

  @include mobile {
    font-size: 34px;
  }
}
