@mixin desktop-only {
  @media (min-width: $tab_max) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tab_min) and (max-width: $tab_max) {
    @content;
  }
}

@mixin mobile {
  @media (min-width: 0) and (max-width: $mob_max) {
    @content;
  }
}

@mixin retina {
  @media (min-resolution: $retina_dpi), (min-resolution: $retina_dppx) {
    @content;
  }
}

@mixin flex($flex-direction) {
  display: flex;
  flex-direction: $flex-direction;
  flex-wrap: wrap;
  justify-content: space-between;
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
}

@mixin container {
  position: relative;
  width: auto;
  min-width: $desk_min;
  max-width: $desk_max;
  margin: 0 auto;
  padding: 0 $desk_pads;

  @include tablet {
    min-width: $tab_min;
    width: auto;
    padding: 0 $tab_pads;
    overflow-x: hidden;
  }

  @include mobile {
    min-width: $mob_min;
    width: 100%;
    padding: 0 $mob_pads;
    overflow-x: hidden;
  }
}

// Cormorant Garamond
@mixin font-one($size, $height, $weight) {
  font-family: $f_one;
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
}

// Cormorant Garamond Italic
@mixin font-two($size, $height) {
  font-family: $f_two;
  font-size: $size;
  line-height: $height;
  font-weight: $reg;
}

// Poppins
@mixin font-three($size, $height, $weight) {
  font-family: $f_three;
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
}

@mixin title-one {
  @include font-one(45px, 1.3, $bold);
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;

  @include mobile {
    font-size: 38px;
  }
}

@mixin title-two {
  margin-bottom: 20px;

  @include font-one(34px, 1.3, $bold);
  letter-spacing: 1px;
  text-align: center;
}

@mixin title-three {
  @include font-one(26px, 1.3, $semi);
}

@mixin bg-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

@mixin hover-effect($color) {
  &:hover,
  &:focus {
    transition: 0.3s ease-in-out;
    outline: 0 none;
    color: $color;
  }

  &:active {
    opacity: 0.8;
    transition: 0.3s ease-in-out;
    color: $color;
  }
}

@mixin hover-svg($fill-color, $stroke-color) {
  &:hover,
  &:focus {
    & svg {
      transition: 0.3s ease-in-out;
      outline: 0 none;
      fill: $fill-color;
      stroke: $stroke-color;
    }
  }

  &:active {
    & svg {
      opacity: 0.8;
      transition: 0.3s ease-in-out;
      fill: $fill-color;
      stroke: $stroke-color;
    }
  }
}

@mixin hover-opacity {
  &:hover,
  &:focus {
    opacity: 0.7;
    transition: 0.3s ease-in-out;
    outline: 0 none;
  }

  &:active {
    opacity: 0.5;
    transition: 0.3s ease-in-out;
  }
}

@mixin link-subtitle {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 5px;

  @include font-three(16px, 1.3, $med);
  color: $c_text;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: $c_main;
  }
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
