$font-one: "Cormorant Garamond", "Times New Roman", serif;
$font-two: "Cormorant Garamond Italic", "Times New Roman", serif;
$font-three: "Poppins", "Arial", sans-serif;
$reg: 400;
$med: 500;
$semi: 600;
$bold: 700;

$mobile-min-width: 320px;
$mobile-max-width: 767px;
$tablet-min-width: 768px;
$tablet-max-width: 1023px;
$desktop-min-width: 1024px;
$desktop-max-width: 1450px;
$mobile-pads: 15px;
$tablet-pads: 25px;
$desktop-pads: 138px;
$desktop-pads-narrow: 20px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
